:root {
    --md-sys-color-primary: #1C6780;
    --md-sys-color-on-primary: #F2FAFF;
    --md-sys-color-primary-container: #9CDEFA;
    --md-sys-color-on-primary-container: #005066;
    --md-sys-color-inverse-primary: #9CDEFA;
    --md-sys-color-secondary: #4B626D;
    --md-sys-color-on-secondary: #F2FAFF;
    --md-sys-color-secondary-container: #CEE6F3;
    --md-sys-color-on-secondary-container: #3E555F;
    --md-sys-color-tertiary: #875320;
    --md-sys-color-on-tertiary: #FFF7F4;
    --md-sys-color-tertiary-container: #FAB579;
    --md-sys-color-on-tertiary-container: #603301;
    --md-sys-color-background: #F8F9FC;
    --md-sys-color-on-background: #303335;
    --md-sys-color-surface: #F8F9FC;
    --md-sys-color-on-surface: #303335;
    --md-sys-color-surface-variant: #E1E3E5;
    --md-sys-color-on-surface-variant: #5C5F61;
    --md-sys-color-surface-tint: #1C6780;
    --md-sys-color-inverse-surface: #0B0F10;
    --md-sys-color-inverse-on-surface: #9B9D9F;
    --md-sys-color-error: #BB1B1B;
    --md-sys-color-on-error: #FFF7F6;
    --md-sys-color-error-container: #FE4E44;
    --md-sys-color-on-error-container: #570003;
    --md-sys-color-outline: #787B7D;
    --md-sys-color-outline-variant: #B0B2B4;
    --md-sys-color-scrim: #000000;

    --md-sys-color-surface-bright: #F8F9FC;
    --md-sys-color-surface-container: #ECEEF0;
    --md-sys-color-surface-container-high: #E6E8EA;
    --md-sys-color-surface-container-highest: #E1E3E5;
    --md-sys-color-surface-container-low: #F2F4F6;
    --md-sys-color-surface-container-lowest: #FFFFFF;
    --md-sys-color-surface-dim: #D8DADC;

    --md-sys-color-primary-fixed: #9CDEFA;
    --md-sys-color-on-primary-fixed: #003B4D;
    --md-sys-color-primary-fixed-dim: #8ECFEC;
    --md-sys-color-on-primary-fixed-variant: #015A72;
    --md-sys-color-secondary-fixed: #CEE6F3;
    --md-sys-color-on-secondary-fixed: #2C424C;
    --md-sys-color-secondary-fixed-dim: #C0D8E5;
    --md-sys-color-on-secondary-fixed-variant: #485F69;
    --md-sys-color-tertiary-fixed: #FAB579;
    --md-sys-color-on-tertiary-fixed: #432200;
    --md-sys-color-tertiary-fixed-dim: #EBA86D;
    --md-sys-color-on-tertiary-fixed-variant: #6A3C09;
}

@media (prefers-color-scheme: dark) {
    :root {
        --md-sys-color-primary: #9CDEFA;
        --md-sys-color-on-primary: #005066;
        --md-sys-color-primary-container: #68A9C4;
        --md-sys-color-on-primary-container: #002633;
        --md-sys-color-inverse-primary: #1C6780;
        --md-sys-color-secondary: #B2CAD7;
        --md-sys-color-on-secondary: #2C434D;
        --md-sys-color-secondary-container: #283F48;
        --md-sys-color-on-secondary-container: #ABC3CF;
        --md-sys-color-tertiary: #FFC697;
        --md-sys-color-on-tertiary: #6B3C09;

        /* these two are swapped from the palette generator */
        --md-sys-color-tertiary-container: #603301;
        --md-sys-color-on-tertiary-container: #FAB579;

        --md-sys-color-background: #0B0F10;
        --md-sys-color-on-background: #E4E6E8;
        --md-sys-color-surface: #0B0F10;
        --md-sys-color-on-surface: #E4E6E8;
        --md-sys-color-surface-variant: #232628;
        --md-sys-color-on-surface-variant: #919496;
        --md-sys-color-surface-tint: #9CDEFA;
        --md-sys-color-inverse-surface: #F8F9FC;
        --md-sys-color-inverse-on-surface: #525557;
        --md-sys-color-error: #FF7164;
        --md-sys-color-on-error: #4A0002;
        --md-sys-color-error-container: #AC0C12;
        --md-sys-color-on-error-container: #FFB8B0;
        --md-sys-color-outline: #737678;
        --md-sys-color-outline-variant: #45484A;
        --md-sys-color-scrim: #000000;

        --md-sys-color-surface-bright: #292D2E;
        --md-sys-color-surface-container: #171A1C;
        --md-sys-color-surface-container-high: #1D2022;
        --md-sys-color-surface-container-highest: #232628;
        --md-sys-color-surface-container-low: #111415;
        --md-sys-color-surface-container-lowest: #000000;
        --md-sys-color-surface-dim: #0B0F10;
    }
}